
PORT=12344
JWT_SECRET=your-super-secret-jwt-key-change-in-production
FRONTEND_URL=https://paddock.timka20.ru


DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=equipulse


SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=server@timka20.ru
SMTP_PASS=epbg7jbNiOhLd7nAzSGf
SMTP_FROM="EquiTrack" <server@timka20.ru>
SMTP_FROM_NAME=EquiTrack
